<html>
<head>
	<title>{{ title }}</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<form>
	</form>
	<!--script>function myFunction() {
  		let box_value = document.getElementById("select_class").value;
  		if (box_value === "knn") {
    			document.getElementById("KNN").style.display = "initial"
    			document.getElementById("SVM").style.display = "none"
    			document.getElementById("TRE").style.display = "none"
  		} else if (box_value === "svm") {
    			document.getElementById("KNN").style.display = "none"
    			document.getElementById("SVM").style.display = "initial"
    			document.getElementById("TRE").style.display = "none"
		} else {
    			document.getElementById("KNN").style.display = "none"
    			document.getElementById("SVM").style.display = "none"
    			document.getElementById("TRE").style.display = "initial"
		}
	}</script-->
</body>
</html>
